<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
  <h1>The Home Page! <%= 4+5+1 %></h1>
  <p>Hahahahaha this is the best thing ever EJS RULEZ!</p>



  </body>
</html>