<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= subreddit %> </title>
  </head>
  <body>
      <h1>You are browsing the <%= subreddit %> subreddit.</h1>
  
  </body>
</html>